/*.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
	
}*/

/*.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #F39B53;
	margin-bottom: 1rem;
}*/

/*.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}*/

/*.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}*/

/*.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}
*/
.input, .btn__submit, .btn__reset{
	/*background-color: #EFEFEF;*/
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #3C8DBC .2rem;
	border-top: none;
	border-left: none;
	border-right: none;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #FF4444 .2rem;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

/*.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}

.btn__reset {
	background-color: #EDA135;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
}*/