

.star-rating a {
  display: inline-block;
  color:  #f39c12;
  font-size: 23px;
  pointer-events: none;
  cursor: default;
}

.star_disable {
  display: inline-block;
  color: #95a5a6;
  font-size: 24px;
}

.starrr{
   font-size:26px;
   display: inline-block;
   color:  #f39c12;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


.foto {
  margin-top: 5px;
  margin-bottom: 5px;
}


#info {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  background:#fcf8e3;
  border:1px solid  #DFDFDF;
  width:95%;
  max-width:900px;
  margin:0 auto 40px auto;
  font-family:arial;
  font-size:14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

  #info .info-wrapper {
    padding:10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

  }

  #info a {
    color:#c09853;
    text-decoration:none;
  }

  #info p {
    margin:5px 0 0 0;
  }

.container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#filters {
  margin:1%;
  padding:0;
  list-style:none;
}

  #filters li {
    float:left;
  }

  #filters li span {
    display: block;
    padding:5px 20px;
    text-decoration:none;
    color:#666;
    cursor: pointer;
  }

  #filters li span.active {
    background: #0881C8;
    border: 2px solid #DFDFDF;
    color:#fff;
  }



#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width:25%;
  margin:1%;
  display:none;
  float:left;
  overflow:hidden;
}

  .portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    cursor:pointer;
    height: 280px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .portfolio img {
    max-width:100%;
    position: relative;
    top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 5px;
  }

  .portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    pointer-events: none;
    cursor: default;
  }

    .portfolio .label-bg {
      background: #E6E6E6;
      width: 100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;

    }

    .portfolio .label-text {
      color:#000000;
      position: relative;
      z-index:100;
      padding: 1px 1px;
      text-align: center;
      height: 30px;
      pointer-events: none;
      cursor: default;
    }

    .portfolio .text-category {
       display:block;
       font-size:14px;
       color: #D5BC2F;
       text-align: center;
    }



/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }

  #portfoliolist .portfolio {
    width:48%;
    margin:1%;
  }

  #ads {
    display:none;
  }

}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }

  #ads {
    display:none;
  }

}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}