.content {

	.content-alerts {
		padding-top:		$content-body-vertical-padding;
	}

	.content-body {
		padding-top:		$content-body-vertical-padding;
		padding-bottom: 	$content-body-vertical-padding;
	}
}